<div class="card-container">
    <app-card imageUrl="assets/fotos/foto_1.webp" text="primeria vez que eu e meu amor ficamos juntos"></app-card>
    <app-card imageUrl="assets/fotos/foto_2.webp" text="primeira vez que meu amor foi na casa da minha vó"></app-card>
    <app-card imageUrl="assets/fotos/foto_3.webp" text="dia em que eu pedi meu amor em namoro e ainda levei um brigadeiro de prato"></app-card>
    <app-card imageUrl="assets/fotos/foto_4.webp" text="primeira vez que tive um encontro real oficial com meu amor e dei o anel prateado de namoro"></app-card>
    <app-card imageUrl="assets/fotos/foto_5.webp" text="dia em que meu amor veio aqui em casa e icou jogando lego comigo"></app-card>
    <app-card imageUrl="assets/fotos/foto_6.webp" text="dia em que meu amor arrasou jogando volêi e eu fiz várias gravações do meu amor"></app-card>
    <app-card imageUrl="assets/fotos/foto_7.webp" text="primeira viagem minha e do meu amor para Aparecida-SP a casa da mãezinha, esse dia foi uma loucura"></app-card>
    <app-card imageUrl="assets/fotos/foto_8.webp" text="dia em que meu amor viu um arco-iris se formando pela janela e me fez bater uma foto nele parecendo meio gay"></app-card>
    <app-card imageUrl="assets/fotos/foto_9.webp" text="dia em que deitei no colo do meu amor e ela ficou analisando meu popo"></app-card>
    <app-card imageUrl="assets/fotos/foto_10.webp" text="dia da formatura do meu amor, essa foto é muito biita"></app-card>
    <app-card imageUrl="assets/fotos/foto_11.webp" text="hora do descanso com a bono bono e solzinho com meu amor"></app-card>
    <app-card imageUrl="assets/fotos/foto_12.webp" text="mesmo dia da foto com bono bono porém de noite e dando beijinnhos"></app-card>
    <app-card imageUrl="assets/fotos/foto_13.webp" text="dia em que meu amor veio aqui em casa e bateu foto com a preta"></app-card>
    <app-card imageUrl="assets/fotos/foto_14.webp" text="foto minha fazendo as unhas do meu amor, ebaaa"></app-card>
    <app-card imageUrl="assets/fotos/foto_15.webp" text="primeiro final de ano que passo com meu amor"></app-card>
    <app-card imageUrl="assets/fotos/foto_16.webp" text="eu e meu amor fazendo uma caminhada com a bono bono e ela desistidno no meio do caminho"></app-card>
    <app-card imageUrl="assets/fotos/foto_17.webp" text="dia em que meu amor limpou o armário e eu encontrei esse top super estiloso"></app-card>
    <app-card imageUrl="assets/fotos/foto_18.webp" text="dia em que dei uma volta de bicicleta com meu amor"></app-card>
    <app-card imageUrl="assets/fotos/foto_19.webp" text="dia em que eu comi sushi pela primeira vez e quase me engasguei"></app-card>
    <app-card imageUrl="assets/fotos/foto_20.webp" text="dia da mãezinhaa em que eu e meu amor estamos noivos e consagrados a mãezinhaa"></app-card>
</div>
