<div class="card-container">
    <app-card imageUrl="assets/fotos/foto_1.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_2.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_3.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_4.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_5.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_6.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_7.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_8.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_9.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_10.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_11.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_12.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_13.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_14.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_15.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_16.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_17.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_18.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_19.webp"></app-card>
    <app-card imageUrl="assets/fotos/foto_20.webp"></app-card>
</div>
